<img *ngIf="summary == 'Partly Cloudy'" src="./assets/icons/partly-cloudy.png" class="img-fluid">
<img *ngIf="summary == 'Clear' " src="./assets/icons/clear.png" class="img-fluid">
<img *ngIf="summary == 'Clouds'" src="./assets/icons/cloudy.png" class="img-fluid"> 
<img *ngIf="summary == 'Thunderstorm' " src="./assets/icons/storm.png" class="img-fluid" >
<img *ngIf="summary == 'Rain' || summary == 'Light Rain' " src="./assets/icons/rainy.png" class="img-fluid">
<img *ngIf="summary == 'Snow' " src="./assets/icons/snow.png" class="img-fluid">
<img *ngIf="summary == 'Drizzle' " src="./assets/icons/drizzle.png" class="img-fluid">
<img *ngIf="summary == 'Mist' || summary =='Fog' " src="./assets/icons/foggy.png" class="img-fluid">